/toy
/home/benjamin.deporte/Toys/BlackOutRugby/models
/home/benjamin.deporte/Toys/BlackOutRugby/models/
# /home/benjamin.deporte/Toys/BlackOutRugby/models/gpr_csr_predictor.pkl
# /home/benjamin/Folders_Python/BlackOutRugby/models/gpr_csr_predictor.pkl
# /retrieves
# /retrieves_juniors
# /sauvegardes